name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Triggers whenever you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            gorkememir/habit-tracker:latest
            gorkememir/habit-tracker:${{ github.sha }}
      
      - name: Update Kubernetes manifest
        run: |
          sed -i "s|image: gorkememir/habit-tracker:.*|image: gorkememir/habit-tracker:${{ github.sha }}|g" k8s/habit-app.yml
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/habit-app.yml
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update image to ${{ github.sha }}" && git push)
