name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Triggers whenever you push to main

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          build-args: |
            COMMIT_SHA=${{ github.sha }}
            COMMIT_MESSAGE=${{ github.event.head_commit.message }}
          tags: |
            gorkememir/habit-tracker:latest
            gorkememir/habit-tracker:${{ github.sha }}
      
      - name: Update Kubernetes manifest
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin release:release || true
          git checkout release || git checkout -b release
          sed -i "s|image: gorkememir/habit-tracker:.*|image: gorkememir/habit-tracker:${{ github.sha }}|g" k8s/habit-app.yml
          git add k8s/habit-app.yml
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update image to ${{ github.sha }}" && git tag -a "v${{ github.run_number }}" -m "Release version ${{ github.run_number }}" && git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git release --tags)

